@import 'tailwindcss';

@theme {
  --font-primary: "Outfit", serfi;
  --font-secondary: "Newsreader",
    serif;
}

body {
  background-color: black;
  color: #fff;
  font-family: "Outfit", serif;
}

button {
  cursor: pointer;
}
